* {
	margin: 0;
	padding: 0;
}
code, pre {
	max-width: 100%;
	width: 100%;
}
pre {
	border-left: 2px solid #aaa;
	margin-bottom: 1em;
}
p {
	color: #000;
	margin-bottom: 1em;
}
.font p {
	margin-top: 1em;
}

.commentWrapper {
	background: #f7f7f7;
	border: 1px dashed #ccc;
	padding: 3px 5px;
	margin: 5px 5px 0 20px;
}
.commentBody {
	color: #000;
	display: block;
	margin: 5px 0;
}
.commentHeader {
	display: inline;
}
.commentHeader a {
	margin-right: 3px;
}
.collapse {
 	border: 1px solid #ccc;
 	cursor: pointer;
 	display: inline-block;
 	padding: 1px 5px;
 	margin-right: 5px;
}
.odd {
	background: #f0f0f0;
}
.poster {
	background: #f60;
	border-radius: 4px;
	padding: 0 3px;
}
.subtext .poster {
	background: none;
}
.tagLink {
	color: #000;
	cursor: pointer;
}
.tagSave {
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
	padding: 3px 5px;
}
.userPanel {
	background: #f7f7f7;
	color: #000;
	border: 1px solid #ccc;
	display: none;
	margin-top: -10px;
	padding: 5px 8px;
	position: absolute;
}
.userPanel input {
	padding: 3px;
}
.userTag {
	background: #fdd;
	border: 1px solid #644;
	color: #644;
	margin-left: 5px;
	padding: 1px 3px;
}